xml/solicitudArticuloADepositoXML-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="solicitudArticulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="idSolicitud"/>
        <xs:element type="xs:string" name="idModulo"/>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="articulo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="codigo"/>
                    <xs:element type="xs:int" name="cantidad"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>